<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title freesgames4u.com
        style
            include ../static/style.css
        
    body
        nav#navbar
            ul
                div#logo 
                    img(src="/static/nav2.jpg", alt="error loading")
                    
                li #[a(href="/") Home]
                li #[a(href="/") services]
                li #[a(href="/") About ]
                li #[a(href="/contacts") contact ]

        section#introsection
            div Welcome to freegames4u.com
            div  Heaven for gamers.....


        section#servicesection
            h2 trending
            div.card 
                h3 pubg mobile
                 
                div.cardimg 
                    img(src="/static/g.webp", alt="game")
                   

               
            div.card 
                h3 valorant
                
                div.cardimg 
                    img(src="/static/game1.jpg", alt="game")

                 
            div.card 
                h3 fall guys
                 
                div.cardimg 
                     img(src="/static/game3.jpg", alt="game")
                 


        section#sponsorsection
            h2 our partners....
            div#partners 
                img(src="static/l1.png", alt="sorry" class="sp")
                img(src="static/l2.jpg", alt="sorry" class="sp")
                img(src="static/l5.png", alt="sorry" class="sp")
         
        footer
            | copyright @ 2020 | all rights reserved


        script
            include ../static/script.js